.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 100%;
    margin: 22px 0;
  }
  
  @media screen and (min-width: 1024px) { 
    .cards-container {
      gap: 50px;
      padding: 5% 1%;
      background-color: #f7f7f7;
      border-radius: 16px; 
      margin: 43px 0;
    }
  }
  