.about-page {
  flex: 1;
}

.about-container {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.banner-about {
  width: 90%;
  height: 220px;
  background: url('../../assets/background-about.jpeg') no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  margin: 0 auto 20px auto;
  position: relative;
  overflow: hidden;
}

.banner-about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 25px;
}

.about-section {
  margin-bottom: 20px;
  cursor: pointer;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.about-section.open {
  background-color: #F6F6F673;
}

.about-section-header {
  display: flex;
  justify-content: space-between;
  background-color: #ff6b6b;
  padding: 10px;
  border-radius: 5px;
  color: white;
  z-index: 2;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
}

.about-section-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.about-section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 0 15px;
  transform: translateY(-100px);
  z-index: 1;
  position: relative;
}

.about-section.open .about-section-content {
  max-height: 500px;
  padding: 15px;
  transform: translateY(0);
}

.about-section p,
.about-section ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  text-align: left;
  margin: 0;
}

.about-section ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.arrow {
  width: 32px;
  height: 32px;
  transition: transform 0.5s ease;
}

.arrow.open {
  transform: rotate(-180deg);
}

@media screen and (max-width: 520px) {
  .banner-about {
    height: 110px;
    margin-bottom: 0px;
    border-radius: 10px;
  }
  .about-container {
    width: 90%;
  }
.about-section p,
.about-section ul li {
  font-size: 12px;
  line-height: unset;
}
.about-section-header h2 {
  font-size: 13px;
}
}