.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2em 0em;
}

.navigation-section {
  display: flex;
  gap: 2.5rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  white-space: nowrap;

}

.nav-header_link-home,
.nav-header_link-about {
  color: #000000;
  text-decoration: none;
}

.nav-header_link-home:hover,
.nav-header_link-home:focus,
.nav-header_link-about:hover,
.nav-header_link-about:focus {
  text-decoration-line: underline;
}

@media screen and (max-width: 520px) {
  .home-logo {
      width: 145px;
  }
  .navigation-section {
    font-size: 12px;
    line-height: 17.11px;
    text-transform: uppercase;
    gap: unset;
    width: 100%;
  }
  .nav-header_link-home,
  .nav-header_link-about {
    margin-left: auto;
  }
}
