.header-container {
  width: 90%; /* Matches the width of the banner */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2em 0em;
}

.navigation-section {
  display: flex;
  gap: 2.5rem;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
}

.nav-header_link-home,
.nav-header_link-about {
  color: #000000;
  text-decoration: none;
}

.nav-header_link-home:hover,
.nav-header_link-home:focus,
.nav-header_link-about:hover,
.nav-header_link-about:focus {
  text-decoration-line: underline;
}
