@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.fiche-logement {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  flex: 1;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logement-header h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0px;
  color: #FF6060;
}

.logement-header p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.logement-gallery {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.logement-gallery img {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 415px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.gallery-button img {
  width: 47px;
  height: 79px;
  cursor: pointer;
}

.gallery-button.left {
  left: 10px;
}

.gallery-button.right {
  right: 10px;
}

.rating {
  display: flex;
  justify-content: right;

}

.host-info .rating img {
  width: 24px;
  height: 24px;
  margin: 6px;
}

.image-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.host-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.host-ident {
  display: flex;
  align-items: center;
} 

.host-info p {
  margin: 0;
  margin-right: 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
}

.host-info img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: #ff6b6b;
  color: white;
  padding: 0px 30px;
  border-radius: 10px;
  flex-direction: column;
  height: 25px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.logement-details {
  margin-top: 20px;
  display: flex;
  gap: 5%;
}

.logement-section {
  margin-bottom: 10px;
  cursor: pointer;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.logement-section.open {
  background-color: #F6F6F673;
}

.logement-section h2 {
  display: flex;
  justify-content: space-between;
  background-color: #ff6b6b;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: white;
  align-items: center;
}

.logement-section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 0 15px;
  transform: translateY(-100px);
  z-index: 1;
  position: relative;
}

.logement-section.open .logement-section-content {
  max-height: 500px;
  padding: 15px;
  transform: translateY(0);
}

.arrow {
  width: 32px;
  height: 32px;
  transition: transform 0.5s ease;
}

.arrow.open {
  transform: rotate(-180deg);
}

.logement-section p,
.logement-section ul li {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.logement-section ul {
  list-style-type: none; 
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .logement-gallery img {
    height: 255px;
  }
  .gallery-button img {
    width: 11px;
    height: 19px;
  }
  .logement-header h1 {
    font-size: 18px;
  }
  .logement-header p {
    font-size: 14px;
  }
  .logement-header {
    flex-direction: column;
    align-items: unset;
    gap: 10px;
  }
  .tag {
    font-size: 10px;
  }
  .host-info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .rating {
    margin: auto 0;
  }
  .host-info .rating img {
    height: 13px;
    width: 13px;
    margin: 2px;
  }
  .host-ident img {
    width: 32px;
    height: 32px;
  }
  .logement-details {
    flex-direction: column;
    gap: 15px;
  }
  .logement-section h2{
    font-size: 13px;
  }
  .arrow {
    height: 16px;
    width: 16px;
  }
  .logement-section p, .logement-section ul li {
    font-size: 12px;
  }
}